{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-soundwave pe-2"></i><span class="kaushan-script-regular">Echo Radio</span></h5>
            <ol>
                <li>Click on "Add Stream" to create a new stream.</li>
                <li>Fill in the required details such as Stream Name, URL, and Timezones.</li>
                <li>Once added, you can view and manage your streams from the main dashboard.</li>
                <li>For any issues, refer to the documentation or contact support.</li>
            </ol>
        </div>
    </div>    
</div>
{% endblock %}